.rib_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rib_label {
    text-transform: uppercase;
    font-weight: 700;
}

.rib_part {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    border-radius: .3em;
    align-items: center;
    background-color: #d4d4d4;
}